.main{
  position:relative;
  top:0px;
  left:0px;
  width:100%;
}

.btnrow{
  margin-top:2em;
}

.button{
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
  font-size:large;
}
.button:hover{
  background: #668ad8;
}
.none{
  background-color:white;
}
.none:hover{
  background-color:white;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 25px;
  height: 40px;
  padding: 0;
  margin:0 0.1em 0 0;
  text-align: center;
  width: 40px;
}
.answer{
  margin-bottom:10px;
  padding-top:18px;
}

a.disabled{
    pointer-events: none;
    background-color:gray;
}
.history{
  height:300px;
  background-color:skyblue;
  margin-top:10px;
  border-radius:10px;
}
.history.YOU{
    background-color:skyblue;
}
.history.CPU{
    background-color: gray;
}
table{
  width:100%;
  font-size:large;
  text-align:center;
  color:white;
}
thead{
    border-bottom: solid white;
}
tfoot{
    border-top: solid white;
}

.restart-btn{
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}
.restart-btn:hover {
    background: #67c5ff;
    color: white;
}

.post-btn{
  background:lightgreen;
 }

.delete-btn{
  background:tomato;
}

.restart{
  background:yellow;
  text-align:center;
  font-size:18px;
  color:gray;
  height:250px;
  margin-top:10px;
  border-radius:10px;
}
.box-title{
  font-size: 1.2em;
    background: gold;
    padding: 4px;
    text-align: center;
    color: gray;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.win{
    background:yellow;
}
.win .box-title{
    background: gold;
}
.lose{
    background: lightblue;
}
.lose .box-title{
    background: skyblue;
}

.draw{
    background:lightgreen;
}
.draw .box-title{
    background: green;
}

.header{
    text-align: center;
    border-bottom: solid gray;
}
.readme{
    border: solid gray;
    width:50%;
    margin: auto;
}
.readme-header{
    text-align: center;
}
#react-container{
    margin: auto;
    width: 50%;
    margin-top: 3%;
    margin-bottom: 3%;
}
