<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Numeron App</title>
    <link rel="stylesheet" href="static/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>

<h2>Numeron App</h2>
<p>数当てゲームです。</p>
<div class="readme">
<ol>
    <li>
        ゲームの説明と遊び方、一人用プレイはこちら->
        <a href="http://www.smartbowwow.com/2018/04/reactnumeron.html">
            Reactで数当てゲーム(NumerOn)を作ってみた(遊べるよ！)
        </a>
     </li>
     <li>
         CPUの戦略はこちら->
         <a href="#">
             NumeronのAIをPythonで実装した
         </a>
     </li>
     <li>
         アプリ制作者の運営するブログです->
         <a href="http://www.smartbowwow.com/">ぐりろぐ</a>
     </li>
</ol>
</div>
{% block body %}
{% endblock %}
<script src="./static/bundle.js" ></script>
</html>
