<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Numeron App</title>
    <link rel="stylesheet" href="/static/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="/static/numeron.ico">
</head>
<div class="header">
    <h1>Numeron App</h2>
    <p>いわゆる数当てゲームです。</p>
    <p>相手より先に相手の持っている3ケタの数字を当てましょう。</p>
    <p>ゲームの詳しい説明は<a href="http://www.smartbowwow.com/2018/04/reactnumeron.html">
        こちら
    </a></p>
    <p>アプリ制作者のブログ→<a href="http://www.smartbowwow.com">
        ぐりろぐ
    </a></p>
</div>

{% block body %}
{% endblock %}
<div class="readme">
    <div class="readme-header">
        <h3>あそびかた</h3>
    </div>
    <div class="readme-body">
        <ol>
            <li>あなたが先攻です。あなたの番号は自動的にランダムに作成されます。</li>
             <li>3けたの数字を入力してTRYをクリック。判定結果がYOUの枠に表示されます。</li>
             <li>すぐにCPUの回答が行われます。</li>
             <li>CPUより早い段階で相手の???を当てましょう。</li>
             <li>ちなみに、同じ回数で正解すると引き分けです。</li>
        </ol>
    </div>

</div>
<script src="/static/bundle.js" ></script>
</html>
